body {
    background: rgb(169, 169, 169);
}

#world {
    position: absolute;
    left: 10%;
    margin: 0 auto;
}

#head,
#body,
#footer {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 10%;
    top: 45%;
}

#welcome {
    position: relative;
    left: 5%;
}


.code-container-layer-1,
.code-container-layer-2,
.code-container-layer-3,
.code-container-layer-4 {
    display: inline-block;
}

.code-container-layer-3 {
    margin-left: 2vw;
}

.code-container-layer-4 {
    margin-left: 4vw;
}

p {
    display: inline-block;
}

.code-init {
    font-size: 20px;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
}

.code-follow {
    font-size: 20px;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
}

#code-1 {
    animation: typing 0.15s steps(6);
}

#code-2 {
    animation: typing 0.2s steps(8), slidein 0s ease 0s forwards;
    animation-delay: 0.15s;
}

#code-3 {
    animation: typing 0.35s steps(14), slidein 0s ease 0s forwards;
    animation-delay: 0.35s;
}

#code-4 {
    animation: typing 1.2s steps(73), slidein 0s ease 0s forwards;
    animation-delay: 0.7s;
}

#code-5 {
    animation: typing 0.23s steps(7) forwards, slidein 0s ease 0s forwards, blink .5s step-end infinite alternate;
    animation-delay: 1.9s;
}


@keyframes typing {
    0% {
        width: 0%;
        border-right: 4px solid black;
    }

    99.99% {
        width: 100%;
        border-right: 4px solid black;
    }

    100% {
        width: 100%;
        border-right: transparent;
    }
}

@keyframes slidein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {

    0%,
    100% {
        border-right-color: transparent;
    }

    50% {
        border-right: 3px solid black;
    }
}