:root {
    /* px values needed, because "parallax" has to be hardcoded and non responsive*/
    --arrowMargin: -30px;
    --slideElementMargin: 30px;

    /* tab indent of a html-tag-block */
    --codeTagMargin: 2rem;

    --leftBorder: 4px solid black;

    --color-code-background: 110;
    --color-code-a: 170;
}

@font-face {
    font-family: 'SplineSansMono';
    src: url('../fonts/SplineSansMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ChivoMono';
    src: url('../fonts/ChivoMono-Regular.ttf') format('truetype');
}

body {
    background: rgb(var(--color-code-background), var(--color-code-background), var(--color-code-background));
}

h1 {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

a {
    color: rgb(var(--color-code-a), var(--color-code-a), var(--color-code-a));
}

#world {
    position: absolute;
    left: 15%;
    right: 10%;
    margin: 0 auto;
    overflow-y: hidden;
    top: 0;
    height: 100vh;
}

#slideContainer {
    position: absolute;
    top: 0;
}

.slideContainer {
    transition: 0.75s ease-in-out;
}

.slideElementContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    margin-left: var(--slideElementMargin);
    font-family: "SplineSansMono";
}

#head-content,
#body-work-content,
#body-fun-content,
#footer-content,
.tag-container {
    display: flex;
    flex-direction: column;
    border-left: var(--leftBorder);
    padding-left: 0.4rem;
}

#head-content,
#body-work-content,
#body-fun-content,
#footer-content p {
    line-height: 1.1rem;
}

.tag-container {
    font-family: "ChivoMono";
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    border-left: var(--leftBorder);
}

.tag-container p {
    padding-bottom: 0.1rem;
}

#head {
    padding-top: 25vh;
}

#head-content {
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.slideScrollButtonUp {
    display: flex;
    margin-left: var(--arrowMargin);
}

.slideScrollButtonDown {
    display: flex;
    margin-left: var(--arrowMargin);
}

.code-container-layer-1,
.code-container-layer-2,
.code-container-layer-3,
.code-container-layer-4,
.code-container-layer-5 {
    display: inline-block;
}

.code-container-layer-3 {
    margin-left: var(--codeTagMargin);
}

.code-container-layer-4 {
    margin-left: calc(var(--codeTagMargin) * 2);
}

.code-container-layer-5 {
    margin-left: calc(var(--codeTagMargin) * 3);
}

.code-init {
    white-space: nowrap;
    overflow: hidden;
}

.code-follow {
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
}

#work,
#fun-container {
    padding-bottom: 0.5vh;
}

.fun {
    padding-bottom: 4vh;
}

#code-1 {
    animation: typing 0.15s steps(6);
}

#code-2 {
    animation: typing 0.15s steps(6), slidein 0s ease 0s forwards;
    animation-delay: 0.15s;
}

#code-3 {
    animation: typing 0.15s steps(6), slidein 0s ease 0s forwards;
    animation-delay: 0.30s;
}

#code-4 {
    animation: typing 0.3s steps(14), slidein 0s ease 0s forwards;
    animation-delay: 0.45s;
}

#code-5 {
    animation: typing 1s steps(68) forwards, slidein 0s ease 0s forwards;
    animation-delay: 0.75s;
}

#code-6 {
    animation: typing 0.15s steps(7) forwards, slidein 0s ease 0s forwards;
    animation-delay: 1.75s;
}

.code-7 {
    animation: typing 0.16s steps(7) forwards, slidein 0s ease 0s forwards, blink .5s step-end infinite alternate;
    animation-delay: 1.9s;
}

.code-blinking {
    animation: blink .5s step-end infinite alternate;
}

.code-button-container {
    padding-top: 0.8vh;
    display: flex;
}

.buttonSpacing {
    padding-left: 1.5rem;
}

.code-button {
    color: rgb(200, 200, 200);
    background-color: rgb(35, 35, 35);
    box-shadow: 0.25rem 0.25rem 0.3rem rgb(0, 0, 0);
    border-radius: 0.4rem;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0.5rem 1.25rem;
    text-align: center;
    vertical-align: baseline;
}

.emphasizeSentence {
    padding: 0.5rem 2rem;
    text-decoration: underline;
}

.boldSentence{
    font-weight: 700;
}

@keyframes typing {
    0% {
        width: 0%;
        border-right: 4px solid black;
    }

    99.99% {
        width: 100%;
        border-right: 4px solid black;
    }

    100% {
        width: 100%;
        border-right: transparent;
    }
}

@keyframes slidein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {

    0%,
    100% {
        border-right-color: transparent;
    }

    50% {
        border-right: 3px solid black;
    }
}