body {
    font-family: sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    height: 80vh;
    background: url('/errorsite/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

div {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 10vh;
}